<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftScanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08906C491DF1A90400FC4209</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>08906C5C1DF1BBDD00FC4209</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
